body{
    background: #EFF1FA;
}

.logo{
    padding: 25px 0 0 0;
}

.principal{
    width: 940px;
    text-align: center;
    margin: 0 auto;
}

.contenedor-izquierdo{
    background: #EFF1FA;
    width: 74%;
    float: left;
}

textarea{
    border: none;
    background: #EFF1FA;
    resize: none;
    outline: none;
}

.texto-superior{
    margin-top: 60px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #0A3871
}

#reglas{
    text-align: left;
    margin-left: 100px;
    font-weight: 400;
    font-size: 12px;
    color: #495057;
    opacity: 0.8;
}

.botones{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: left;
    margin-left: 100px;    
}

.boton1{
    margin-right: 25px;
    width: 150px;
    height: 37px;
    border-radius: 8px;
    background: #0A3871;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.boton2{
    margin-left: 25px;
    width: 150px;
    height: 37px;
    border-radius: 8px;
    background: #D8DFE8;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.contenedor-derecho{
    background: #ffffff;
    width: 24%;
    height: auto;
    display: inline-block;
    border-radius: 20px;
}

.muñeco{
    width:70%;
    margin-top: 130px;
}

.primer-parrafo{
    font-weight: 700;
    font-size: 20px;
    color: #343A40;
    margin-top: 20px;
}

.segundo-parrafo{
    font-weight: 400;
    font-size: 12px;
    color: #495057;
    margin-top: 5px;
    margin-bottom: 70px;
}

footer{
    text-align: center;
    margin-top: 30px;
    background: lightgray;
}

